.btn-search {
  margin-bottom: 3rem;
  background: #424242;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #1c1c1c;
}
.btn-search:link, .btn-search:visited {
  color: #fff;
}
.btn-search:active, .btn-search:hover {
  background: #1c1c1c;
  color: #fff;
}
#processing > div {
  width: 300px;
  margin: 0 auto;
}
tr td:first-child b {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    width: 200px;
    max-height: 32px;
    line-height: 16px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}