{% extends 'authenticate/base.html' %}

{% block content %}
    <h2>Racks
        {% if user.is_authenticated and user.is_superuser %}
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#rackModal">Add Rack</button>
        {% endif %}
    </h2>

    {% if form.errors %}
        <div class="alert alert-danger alter-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>

            <p>Errors:</p>
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}